.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  padding-top: 43px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle outside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 106px;
  margin-bottom: 3px;
}

.header__address {
  padding: 5px 3px 0 0;
  justify-self: end;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 135px;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  padding: 20px 60px 20px 0;
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  white-space: nowrap;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px 181px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: -0.09em;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-underline-position: under;
  text-underline-offset: 0.05em;
}

.about {
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
  padding: 0 50px 180px 50px;
  justify-items: center;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 90px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-nav {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  height: 100%;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
}